// TIPOGRAPHY
$primary-font: 'Poppins', sans-serif;
$secundary-font: 'Pirata One', cursive;
$thin: 200;
$normal: 400;
$semi-bold: 600;
$bold: 800;

// COLORS
$black: #1d1d1d;
$white: #f5f5f5;
$text-light: #B7B7B7;
$text-dark: #f5f5f55d;
$error: #9d0207b6;
$exito: #31572c;
// $led: #0000ff;
// $led: #ff0000;
$led: #00ff2a;

// SIZE DISPLAY
$movil: 480px;
$tablet: 768px;
$desktop: 1200px;

// SEPARACION
$separacion: 5rem;