.github {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;
  height: 9rem;
  color: $white;
  border-bottom-right-radius: 50%;
  i {
    font-size: 6rem;
  }
}

.made {
  position: fixed;
  color: $white;
  left: 2rem;
  bottom: 2rem;
  a {
    color: $white;
  }
  @include reducer {
    &{
      display: none;
    }
  }
}