body {
  background-color: $black;
  color: $white;
}

.header__title {
  font-family: $secundary-font;
  letter-spacing: 1rem;
  font-size: 6rem;
  @include reducer {
    position: absolute;
    top: 12rem;
    left: 0;
    right: 0;
  }
}

.main {
  @include tablet {
    height: 100vh;
    @include grid(2, calc($separacion / 2));
  }

  ;

  .bg-img {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center right;
    background-size: cover;
    overflow: hidden;
    height: 30rem;

    @include tablet {
      height: auto;
    }
  }
}

.app {
  width: 95%;
  margin: 0 auto;
  padding-top: calc($separacion / 2);
  text-align: center;
  text-transform: uppercase;
  color: $text-light;
  // background: linear-gradient(145deg, #1f1f1f, #1a1a1a);
  text-shadow: 6px 6px 15px #0c0c0c,
    -6px -6px 15px #2e2e2e;

  .seccion {
    margin-top: $separacion;
    display: none;
    overflow: hidden;

    &__title {
      font-family: $secundary-font;
      letter-spacing: .5rem;
      font-size: 2.5rem;
    }

    &__text {
      text-transform: none;
      text-align: center;
    }
  }
}

.header {
  margin-bottom: 4rem;
}

.tabs {
  @include grid(3, 2rem);

  button {
    @include up;
    padding: 1.5rem;
    text-transform: uppercase;
    font-weight: $semi-bold;

    &.actual {
      position: relative;

      @include down {
        &::before {
          content: '';
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: $led;
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }

      ;

    }
  }
}

.show-seccion {
  display: block !important;
}